# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# Jupyter checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# Editor configs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
